<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>OTP Confirmation</title>
  </head>
  <body>
    <h1>OTP Confirmation</h1>
    <p>Your OTP code is: <strong>{{otp}}</strong></p>
    <p>This code will expire in 10 minutes.</p>
    <p>If you didn't request this OTP, please ignore this message.</p>
  </body>
</html>